.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-form {
  max-width: 32rem;
  padding-bottom: 3rem;
  padding-top: 1.625rem;
  margin: auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
  border-radius: 1rem;
}

.form-control::placeholder {
  font-family: FontAwesome;
}