<div class="col-md-6 container add-container">
    <div class="modal-body" *ngIf="ifInit">
        <form class="form-login" [formGroup]="addForm" (ngSubmit)="addCompany()">
            <div class="form-group">
                <input type="text" placeholder="Company name" class="form-control" formControlName="name"
                    [ngClass]="{ 'is-invalid': isSubmitted && formControls.name.errors }"
                    value="{{updatedCompany.name}}">
                <div *ngIf="isSubmitted && formControls.name.errors" class="invalid-feedback">
                    <div *ngIf="formControls.name.errors.required">Company name is required</div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-outline-success add-btn-outline">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Add Company
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>