<div class="col align-self-center text-center">
  <h2 style="margin: auto">
    Genres
    <button *ngIf="isCurrentRoute" class="gd-btn add-btn" (click)="setRoute()"><i
        class="fas fa-plus fa-2x"></i></button>
    <button *ngIf="!isCurrentRoute" class="gd-btn add-btn" (click)="setRoute()"><i
        class="fas fa-minus fa-2x"></i></button>
  </h2>
  <app-genre-add *ngIf="!isCurrentRoute" (genre)="addGenre($event)"></app-genre-add>
  <app-search [(searchText)]="name" [loading]="loading"></app-search>
  <div class="table-responsive">
    <table class="table table-hover table-dark">
      <thead class="thead-color">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Edit</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let genre of genres | search:name | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{ genre.id }}</td>
          <td>{{ genre.name }}</td>
          <td>
            <button [disabled]="loading" class="btn btn-outline-success edit-btn-outline"
              (click)="editGenre(genre)">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <td>
            <button [disabled]="loading" class="btn btn-outline-success delete-btn-outline"
              (click)="deleteGenre(genre)">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>