<div class="wrapper">
    <div class="news-item hero-item">
        <div class="thumbnail">
            <div class="image-wrapper">
                <picture>
                    <source media="(max-width: 1000px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-small.jpg"/>
                    <source media="(min-width: 1100px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-medium.png"/>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-small.jpg" alt="Divinity" class="responsive-img"/>
                </picture>
            </div>
            <div class="caption">
                <span class="tag">Review</span>
                <h1 class="title">Divinity: Original Sin 2 is awesome</h1>
                <span class="author">by Larian Studios</span>
            </div> 
        </div>
    </div>
    <div class="news-item standard-item">
        <div class="thumbnail">
            <div class="image-wrapper">
                <picture>
                    <source media="(max-width: 599px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/re7-chris-large.jpg"/>
                    <source media="(min-width: 600px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/re7-chris-small.jpg"/>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/re7-chris-large.jpg" alt="Resident Evil 7" class="responsive-img"/>
                </picture>
            </div>
            <div class="caption">
                <span class="tag">Featured</span>
                <h1 class="title">Resident Evil 7: Scarier than ever</h1>
                <span class="author">by Capcom</span>
            </div> 
        </div>
    </div>
    <div class="news-item standard-item">
        <div class="thumbnail">
            <div class="image-wrapper">
                <picture>
                    <source media="(max-width: 599px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/bioshock-large.jpg"/>
                    <source media="(min-width: 600px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/bioshock-small.jpg"/>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/bioshock-large.jpg" alt="Bioshock 2" class="responsive-img"/>
                </picture>
            </div>
            <div class="caption">
                <span class="tag">Guide</span>
                <h1 class="title">Bioshock 2: Tactics on killing Big Sisters</h1>
                <span class="author">by Irrational Games</span>
            </div> 
        </div>
    </div>
    <div class="news-item standard-item">
        <div class="thumbnail">
            <div class="image-wrapper">
                <picture>
                    <source media="(max-width: 1000px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/lara-small.jpg"/>
                    <source media="(min-width: 1100px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/lara-medium.jpg"/>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/lara-small.jpg" alt="Tomb Raider" class="responsive-img"/>
                </picture>
            </div>
            <div class="caption">
                <span class="tag">Adventure</span>
                <h1 class="title">Tomb Raider: The reincarnation of Lara Croft</h1>
                <span class="author">by Ubisoft</span>
            </div> 
        </div>
    </div>
    <div class="news-item standard-item">
        <div class="thumbnail">
            <div class="image-wrapper">
                <picture>
                    <source media="(max-width: 1000px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/dishonored-small.jpg"/>
                    <source media="(min-width: 1100px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/dishonored-2-medium.jpg"/>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/dishonored-small.jpg" alt="Dishonored 2" class="responsive-img"/>
                </picture>
            </div>
            <div class="caption">
                <span class="tag">Stealth</span>
                <h1 class="title">Dishonored 2: Creative Kills have never look so good</h1>
                <span class="author">by Good Games</span>
            </div> 
        </div>
    </div>
    <div class="news-item standard-item">
        <div class="thumbnail">
            <div class="image-wrapper">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/infinite-small.jpg" alt="Bioshock Infinite" class="responsive-img"/>
            </div>
            <div class="caption">
                <span class="tag">First person shooter</span>
                <h1 class="title">Bioshock Infinite: Colorful instead of morbid</h1>
                <span class="author">by Bethesda</span>
            </div> 
        </div>
    </div>
    <div class="news-item standard-item">
        <div class="thumbnail">
            <div class="image-wrapper">
                <picture>
                    <source media="(max-width: 599px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/trine-2-large.png"/>
                    <source media="(min-width: 600px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/trine-2-small.png"/>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/trine-2-large.png" alt="Trine 2" class="responsive-img"/>
                </picture>
            </div>
            <div class="caption">
                <span class="tag">Review</span>
                <h1 class="title">Trine 2: Entertaining And Funny</h1>
                <span class="author">by Triners</span>
            </div> 
        </div>
    </div>

    <div class="news-item standard-item">
        <div class="thumbnail">
            <div class="image-wrapper">
                <picture>
                    <source media="(max-width: 1000px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/wild-hunt-small.jpg"/>
                    <source media="(min-width: 1100px)" srcset="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/wild-hunt-medium.jpg"/>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/wild-hunt-small.jpg" alt="Witcher 3: Wild Hunt" class="responsive-img"/>
                </picture>
            </div>
            <div class="caption">
                <span class="tag">Adventure</span>
                <h1 class="title">Witcher 3: Blood and Wine</h1>
                <span class="author">by CD PROJEKT RED</span>
            </div>
        </div>
    </div>
</div>
