$cropColor: #394046;//#1c2331;
* {
    box-sizing: border-box;
    position: relative;
}

body {
    margin: 0 3px;
    font-family: 'Lato', sans-serif;
}

img {
    display: block;
    object-fit: cover;
}

.wrapper {
    max-width: 1440px;
    margin: 3px auto;
    font-size: 0;
    display: grid;
    //grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 728px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

// thumbnails
.responsive-img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.caption {
    padding: 1rem;
}

.title,
.tag {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 4px;
    line-height: 1.35em;
}

.tag {
    background: #1c2331;//#c6142c;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 12px;
}

.thumbnail {
    color: #fff;
    position: relative;
    overflow: hidden;
}

.image-wrapper:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, transparent), color-stop(0, black));
    bottom: 0;
    content: "";
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.title,
.author {
    color: #fff;
}

.news-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 2px;
    position: relative;
}

.hero-item,
.standard-item {
    width: 50%;
}
@media (min-width: 728px) {
    .hero-item,
    .standard-item {
        width: 25%;
    }
}

@supports (display: grid) {
    .wrapper > *,
    .standard-item:nth-child(4),
        .standard-item:nth-child(5),
        .standard-item:nth-child(6) {
        margin: 0;
        width: auto;
    }

    .news-item {
        padding: 0;
    }
    @media (min-width: 1100px) {
        .news-item:first-child:before, .news-item:first-child:after, .news-item:nth-child(4):before, .news-item:nth-child(4):after, .news-item:nth-child(5):before, .news-item:nth-child(5):after, .news-item:nth-child(8):before, .news-item:nth-child(8):after {
            content: "";
            width: 0;
            height: 0;
            border: 0 solid transparent;
            position: absolute;
            z-index: 5;
            display: block;
        }
        .news-item:first-child:before, .news-item:nth-child(4):before, .news-item:nth-child(5):before, .news-item:nth-child(8):before {
            border-right-color: $cropColor;//#fff;
            border-width: 0 55px 55px 0;
            right: 0;
            top: 0;
        }
        .news-item:first-child:after, .news-item:nth-child(4):after, .news-item:nth-child(5):after, .news-item:nth-child(8):after {
            border-right-color: $cropColor;//#fff;
            border-width: 55px 55px 0 0;
            right: 0;
            bottom: 0;
        }
        .news-item:nth-child(4):before, .news-item:nth-child(8):before {
            top: 0;
            left: 0;
            border-left-color: $cropColor;//#fff;
            border-width: 0 0 55px 55px;
        }
        .news-item:nth-child(4):after, .news-item:nth-child(8):after {
            border-bottom: 55px solid $cropColor;//#fff;
            border-right: 55px solid transparent;
            left: 0;
            bottom: 0;
        }
    }

    @media (min-width: 1100px) {
        .standard-item:nth-child(2),
            .standard-item:nth-child(3),
            .standard-item:nth-child(6),
            .standard-item:nth-child(7) {
            border-top: 55px solid $cropColor;//#fff
        }
    }

    .caption {
        position: static;
        margin-right: auto;
    }

    @media (min-width: 1100px) {
        .hero-item .thumbnail,
        .hero-item .responsive-img,
        .hero-item .image-wrapper,
        .standard-item:nth-child(4) .thumbnail,
            .standard-item:nth-child(4) .responsive-img,
            .standard-item:nth-child(4) .image-wrapper,
            .standard-item:nth-child(5) .thumbnail,
            .standard-item:nth-child(5) .responsive-img,
            .standard-item:nth-child(5) .image-wrapper,
            .standard-item:nth-child(8) .thumbnail,
            .standard-item:nth-child(8) .responsive-img,
            .standard-item:nth-child(8) .image-wrapper {
            height: 100%;
        }
        .hero-item .responsive-img,
        .standard-item:nth-child(4) .responsive-img,
            .standard-item:nth-child(5) .responsive-img,
            .standard-item:nth-child(8) .responsive-img {
            width: 100%;
        }
        .hero-item .caption,
        .standard-item:nth-child(4) .caption,
            .standard-item:nth-child(5) .caption,
            .standard-item:nth-child(8) .caption {
            position: absolute;
            bottom: 0;
            z-index: 3;
            bottom: 32px;
            left: 8px;
        }
        .hero-item .title,
        .hero-item .author,
        .standard-item:nth-child(4) .title,
            .standard-item:nth-child(4) .author,
            .standard-item:nth-child(5) .title,
            .standard-item:nth-child(5) .author,
            .standard-item:nth-child(8) .title,
            .standard-item:nth-child(8) .author {
            color: #fff;
        }
    }
}
