
.media-cart-item {
    border-top: 1px solid #dee2e6;
    margin: 1rem 0px;
    box-shadow: 5px 6px 7px 2px #1c233170;
    border-radius: 0.5rem;
}

.order {
    background: #eaeaea;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 8px 1px #7b7b7b9c;
    padding: 2rem;
    margin-bottom: 1rem;
}

.checkout-block {
    background: #394046;
}

.order-headers {
    text-align: center;
}

.order-span {
    font-weight: 600;
    display: flex;
}

.header-cart {
    color: whitesmoke;
}

tbody {
    color: #404040;
    text-align: left;
}