<div #passwordModal class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin: 0px auto;">
        <div class="modal-content form" style="max-width: 100%;">
            <div class="modal-header-close">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header-login">
                <h5 class="modal-title" id="passwordModalLabel">Change passowrd</h5>

            </div>

            <div class="modal-body">
                <form class="form-login" (ngSubmit)="f.form.valid && updatePassword()" #f="ngForm"
                    [mustMatch]="['newPassword', 'confirmNewPassword']" novalidate>
                    <div class="form-group">
                        <input type="password" class="form-control" name="oldPassword" placeholder="Old password"
                            [(ngModel)]="model.oldPassword" #oldPassword="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && oldPassword.invalid }" required minlength="6">

                        <div *ngIf="f.submitted && oldPassword.invalid" class="invalid-feedback">
                            <div *ngIf="oldPassword.errors.required">Old password is required</div>
                            <div *ngIf="oldPassword.errors.minlength">Old password must be at least 6 characters</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="newPassword" placeholder="New password"
                            [(ngModel)]="model.newPassword" #newPassword="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required minlength="6">
                        <div *ngIf="f.submitted && newPassword.invalid" class="invalid-feedback">
                            <div *ngIf="newPassword.errors.required">New password is required</div>
                            <div *ngIf="newPassword.errors.minlength">New password must be at least 6 characters</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="confirmNewPassword"
                            placeholder="Confirm new password" [(ngModel)]="model.confirmNewPassword"
                            #confirmNewPassword="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && confirmNewPassword.invalid }" required
                            minlength="6">
                        <div *ngIf="f.submitted && confirmNewPassword.invalid" class="invalid-feedback">
                            <div *ngIf="confirmNewPassword.errors.required">Confirm new password is required</div>
                            <div *ngIf="confirmNewPassword.errors.minlength">Confirm new password must be at least 6
                                characters</div>
                            <div *ngIf="confirmNewPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                    <button [disabled]="loading" class="gd-btn btn-save-profile form-btn">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Upload
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>