.underline {
    width: 60px;  
    background-color:#ccc;
}

footer {
    padding-top: 1%;
    color: white;
}

.footer-header {
    background-color: #343a40;
}

.footer-icon {
    font-size: 1.2rem;
}

a {
    color: #afbad0;
}

h6 {
    color: #e8e8e8;
    text-shadow: 1px 1px 10px #0061ab;
}