<footer class="mt-2">
    <div class="footer-header">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>

                <div class="col-md-6 col-lg-7 text-center text-md-right footer-icon">
                    <a><i class="fab fa-facebook mr-4"></i></a>
                    <a><i class="fab fa-twitter mr-4"> </i></a>
                    <a><i class="fab fa-google mr-4"></i></a>
                    <a><i class="fab fa-youtube mr-4"></i></a>
                    <a><i class="fab fa-reddit"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">RAIDER GAMES</h6>
                <hr class="underline accent-2 mb-4 mt-0 d-inline-block mx-auto" />
                <p>The gaming Client designed for a convenient purchasing, playing and updating games, as well as an
                    online play between gaming platforms,
                    RAIDER is also built with optionality in mind, and a belief that you should own the games you buy.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Support</h6>
                <hr class="underline accent-2 mb-4 mt-0 d-inline-block mx-auto" />
                <p><a href="#!">Contact us</a></p>
                <p><a href="#!">Games support</a></p>
                <p><a href="#!">Policies</a></p>
                <p><a href="#!">Website FAQ</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Our Partners</h6>
                <hr class="underline accent-2 mb-4 mt-0 d-inline-block mx-auto" />
                <p><a href="https://www.gog.com/">GOG</a></p>
                <p><a href="https://store.steampowered.com/">Steam</a></p>
                <p><a href="https://www.origin.com/irl/en-us/">Origin</a></p>
                <p><a href="https://uplay.ubi.com/">Uplay</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="underline accent-2 mb-4 mt-0 d-inline-block mx-auto" />
                <p><i class="fas fa-home mr-3"></i> Belgrade, Tadeuša Košćuška 63, Serbia</p>
                <p><i class="fas fa-envelope mr-3"></i> sava.jeremic.2733@metropolitan.ac.rs</p>
                <p><i class="fas fa-phone mr-3"></i> + 011 203 08 85</p>
                <p><i class="fas fa-print mr-3"></i> + 011 203 08 85</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a>Sava Jeremić</a>
    </div>

</footer>